// layout body

body
  font-family: $pyladies-body-font
  font-weight: normal
  color: $pyladies-body-text-color
  overflow-x: hidden
  background: $pyladies-background

h1,h2,h3,h4,h5,h6, legend
  font-family: $pyladies-header-font
  color: $pyladies-berry-blue
  margin-top: 0

p
  line-height: $pyladies-base-line-height
  margin: 0
  font-size: $pyladies-base-font-size
  margin-bottom: $pyladies-base-line-height

h1
  font-size: $pyladies-base-header-size
  margin-bottom: $pyladies-base-line-height

h2
  font-size: $pyladies-base-header-size * .8
  margin-bottom: $pyladies-base-header-line

h3
  font-size: $pyladies-base-header-size * .6
  margin-bottom: $pyladies-base-header-line

h4
  font-size: $pyladies-base-header-size * .5
  margin-bottom: $pyladies-base-header-line

h5
  font-size: $pyladies-base-header-size * .4
  margin-bottom: $pyladies-base-header-line

h6
  font-size: $pyladies-base-header-size * .35
  margin-bottom: $pyladies-base-header-line

em
  font-family: $pyladies-body-font-em

strong
  font-family: $pyladies-body-font-strong

a
  font-family: $pyladies-body-font

// wy-body-for-nav
.pyladies-body-nav
  background: $pyladies-background

// wy-grid-for-nav
.pyladies-grid-nav
  position: absolute
  width: 100%
  height: 100%


// navigation
// wy-nav-top
.pyladies-top-nav
  display: none
  background: $fixme-link-color
  color: $fixme-white
  padding: $gutter / 4 $gutter / 2
  position: relative
  line-height: 50px
  text-align: center
  font-size: 100%
  +clearfix
  a
    color: $fixme-white
    font-weight: bold
    -webkit-font-smoothing: antialiased
  img
    margin-right: $pyladies-base-line-height / 2
    height: 45px
    width: 45px
    background-color: $fixme-logo-color
    padding: 5px
    border-radius: 100%
  i
    font-size: 30px
    float: left
    cursor: pointer


// wy-nav-content-wrap
.pyladies-nav-content-wrap
  margin-left: 300px
  background: $pyladies-section-background
  min-height: 100%

// wy-nav-content
.pyladies-nav-content
  padding: $gutter $gutter * 2
  height: 100%
  max-width: 800px
  margin-left: 10px
  margin:
    right: auto
    bottom: auto
    top: auto
